USE [master]
GO
/****** Object:  Database [HOSEMAQ]    Script Date: 24/11/2017 17:25:08 ******/
CREATE DATABASE [HOSEMAQ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOSEMAQ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HOSEMAQ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HOSEMAQ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\HOSEMAQ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOSEMAQ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOSEMAQ]
GO
USE [HOSEMAQ]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 24/11/2017 17:25:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](200) NULL,
	[tipo] [nvarchar](50) NULL,
	[CNPJ] [nvarchar](14) NULL,
	[telefone] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 24/11/2017 17:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livros]    Script Date: 24/11/2017 17:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livros](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[certific_cod] [nvarchar](200) NULL,
	[dt_certific] [date] NOT NULL,
	[solicitante] [nvarchar](200) NULL,
	[testador] [nvarchar](200) NULL,
	[vendedor] [nvarchar](200) NULL,
	[montador] [nvarchar](200) NULL,
	[aprovador] [nvarchar](200) NULL,
	[dt_validade] [date] NOT NULL,
	[n_Lote] [nvarchar](14) NULL,
	[certi_mangu_cod] [nvarchar](200) NULL,
	[certi_conex_cod] [nvarchar](200) NULL,
	[certi_mano_cod] [nvarchar](200) NULL,
	[ct_grafica] [nvarchar](200) NULL,
	[nm_embarc] [nvarchar](200) NULL,
	[dt_inseriu_db] [date] NOT NULL,
	[cliente_id] [int] NULL,
	[usr_inseriu_cod] [int] NOT NULL,
	[usr_inseriu_db] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/11/2017 17:25:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](200) NULL,
	[nickName] [nvarchar](50) NULL,
	[perfil_id] [int] NULL,
	[senha] [nvarchar](50) NULL,
	[cliente_cod] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Livros]  WITH CHECK ADD  CONSTRAINT [FK_cliente_prod] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[Cliente] ([codigo])
GO
ALTER TABLE [dbo].[Livros] CHECK CONSTRAINT [FK_cliente_prod]
GO
ALTER TABLE [dbo].[Livros]  WITH CHECK ADD  CONSTRAINT [FK_usr_prod] FOREIGN KEY([usr_inseriu_cod])
REFERENCES [dbo].[Usuarios] ([codigo])
GO
ALTER TABLE [dbo].[Livros] CHECK CONSTRAINT [FK_usr_prod]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_cliente_usr] FOREIGN KEY([cliente_cod])
REFERENCES [dbo].[Cliente] ([codigo])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_cliente_usr]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_perfil_users] FOREIGN KEY([perfil_id])
REFERENCES [dbo].[Perfil] ([codigo])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_perfil_users]
GO
USE [master]
GO
